.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5rem;
    background:  linear-gradient(to right, var(--primary-color) 50%, var(--secondary-color) 0%);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}

.GymLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
} 
.GymLogo h1 {
    font-size: 2rem;
}
.GymLogo h1 span {
    color: #FD3D0C;
}
.Nav_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 2rem;
    font-size: 1.2rem;
}
.Nav_links li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    transition: 0.4s;
}
.Nav_links li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2.5px;
    background: var(--secondary-color);
    transition: 0.8s ease-out;
}
.Nav_links li a:hover::after {
    width: 100%;
}
.Nav_links li a:hover {
    color: var(--secondary-color);
}
.Mobile_menu {
    display: none;
}


@media screen and (max-width: 768px) {
    .GymLogo img {
        display: none;
    }
    .GymLogo h1, .GymLogo h1 span{
        font-size: 1.3rem;
    }
    .Navbar {
        padding: 0.5rem 2rem;
        justify-content: space-between;
    }
    .Nav_links {
        background: transparent;
        backdrop-filter: blur(10px);
        padding: 2rem;
        justify-content: center;
        top: -12px;
        bottom: 0;
        right: 0;
        left: 0;
        width: 361px;
        border-bottom-left-radius: 15px;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        position: fixed;
        color: black;
        transition: 0.8s;
        z-index: 2;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 80%) no-repeat;
        z-index: 5;
    }
    .Nav_links li a::after {
        content: "";
        display: block;
        width: 0;
        height: 2.5px;
        background: var(--primary-color);
        transition: 0.8s ease-out;
    }
    .Nav_links li a:hover {
        color: var(--primary-color);
    }
    .active {
        left: 100%;
        z-index: 3;
    }
    .Mobile_menu {
        display: block;
        font-size: 1.5rem;
        color: white;
    }
}
